@model tuanntgcs18661ApplicationDev.Models.TraineeClassroom

@{
    ViewData["Title"] = "Create";
}
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<h1>Create</h1>

<h4>TraineeClassroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassroomId" class="control-label"></label>
                <select asp-for="ClassroomId" class="form-control" asp-items="ViewBag.ClassroomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TraineeId" class="control-label"></label>
                <select asp-for="TraineeId" class="form-control" asp-items="ViewBag.TraineeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>
<br &numsp;>